body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    background: url(../Estilos/Paisaje.jpg) no-repeat center center/cover;
    float: right;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s;
    color: #f1efec;
    margin-right: 50px;
}

.container-form:hover {
    transform: scale(1.05);
}

.icon-form {
    color: #2d3d50;
}

.icon-form h1 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 260px;
}

.form-label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.form-control:focus {
    box-shadow: none;
    background-color: transparent;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #f1efec;
    border: none;
    width: 120px;
    color: #000000ee;
    font-weight: bold;
}

.btn:hover {
    background-color: #2d3d50;
    color: #f1efec;
    cursor: pointer;
}

.account-recovery {
    text-align: center;
    font-size: 1rem;
    padding: none;
}

.account-recovery a {
    display: inline-block;
    color: #f1efec;
    text-decoration: none;
    margin: 5px 0;
}
